.main-container .img-tip {
	font-size: 18px;
	display: inline-block;
	width: 25%;
}

.main-container .con-2 img{
	width: 37%;
}

.main-container .con {
	margin-top: 20px;
	display: block;
}



.main-container .con img{
	width: 70%;
}

.main-container p {
	text-indent: 2em;
}

.main-container h1 {
    text-align: center;
    font-size: 22px;
    color: red;
    margin: 0 10%;
}

.main-container .time-tip {
	color: gray;
    text-align: right;
    position: relative;
    right: 32px;
    display: block;
    font-size: 14px;
    top: -4px;
}

.main-container img {
	width: 100%;
}